<app-navbar></app-navbar>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://image.shutterstock.com/image-photo/online-virtual-video-conference-training-260nw-1754979101.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://image.shutterstock.com/image-photo/online-virtual-video-conference-training-260nw-1754979101.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://image.shutterstock.com/image-photo/online-virtual-video-conference-training-260nw-1754979101.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
               
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                    <label for="Name" class="form-control">Course Title</label>
                    <input type="text" class="form-control">
                </div>
              
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Description" class="form-control">Description</label>
                    <input type="text" name="" id="">
                  

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <label for="Duration" class="form-control">Duration</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                    <label for="coursedate" class="form-control">Course Date</label>
                    <input type="date" name="" id="">
                  

                </div>
                 
               <div class="col col-12 col-sm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
                    <label for="Mobile" class="form-control">Course Venue</label>
                    <input type="text" class="form-control">

                </div>
               <div class="col col-12 col-sm-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">Submit</button>
                   

                </div>
            </div>
        </div>
    </div>
</div>